/* src/components/Footer.css */

/* Basic styling for the footer */
.footer {
    margin-top: 10px;
    background-color: #ffffff;      
    padding-top: 20px;
    position: relative;           /* Ensures the footer stays at the bottom */
    width: 100%;                  /* Full width */
    bottom: 0;                    /* Position it at the bottom */
  }
.footer-links{

    flex-wrap: nowrap;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
        /* Spacing between the links */
    
}

.footer-links img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: transform 0.3s;
  }
  
  .footer-links img:hover {
    transform: scale(1.1);
  }
  
  
    .footer-links img {
      margin-bottom: 10px;
    }
  
  